@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #ed3849;
  --primary-color-dark: #d23141;
  --primary-color-light: #f4e5ec;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --max-width-1400: 1400px;
  --max-width-1200: 1200px;
  --max-width-900: 900px;
  --header-font: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.section_container {
  max-width: var(--max-width-1400);
  margin-inline: auto;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
}

.section_header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.section_subheader {
  max-width: 500px;
  margin-inline: auto;
  color: var(--text-light);
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.order_btn {
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  margin-top: 8px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  max-width: var(--max-width-1400);
  margin-inline: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  font-weight: 500;
  color: var(--text-dark);
}

.link a:hover {
  color: var(--primary-color);
}

.nav_logo a {
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.nav_logo a span {
  color: var(--primary-color);
}

.nav_icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}

.nav_icons span a {
  font-size: 1.25rem;
  color: var(--text-dark);
}

.nav_icons span a:hover {
  color: var(--primary-color);
}

.header_container {
  min-height: 650px;
  background-color: var(--primary-color-light);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.header_content {
  max-width: 600px;
  margin-left: auto;
}

.header_content h4 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.header_content h1 {
  font-size: 5rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.header_content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.header_image {
  position: relative;
  height: 100%;
}

.header_image img {
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translateX(-50%);
  max-width: 500px;
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 30;
  visibility: hidden;
  transition:
    opacity 0.5s,
    visibility 0.5s;
}

.overlay.center {
  justify-content: center;
}

.overlay.end {
  justify-content: end;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.cart-modal {
  width: clamp(200px, 40%, 400px);
  height: 100%;
  background: white;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 1rem 0 0 1rem;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  transition: transform 0.5s;
}

.slide-in {
  transform: translateX(0);
}
.slide-out {
  transform: translateX(100%);
}

.form-modal {
  width: clamp(200px, 40%, 400px);
  background: white;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  transition: transform 0.5s;
}

.categories_grid {
  max-width: var(--max-width-1400);
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.categories_card {
  text-align: center;
}

.categories_card img {
  max-width: 100px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border: 5px solid var(--white);
  border-radius: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.categories_card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.hero_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.hero_card {
  position: relative;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.hero_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -50%);
}

.hero_content p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color);
}

.hero_content h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.hero_content a {
  color: var(--text-dark);
  text-decoration: underline;
}

.hero_card img {
  border-radius: 5px;
}

.product_grid {
  max-width: var(--max-width-1400);
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product_card_content {
  text-align: center;
  padding: 8px;
}

.product_rating {
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_card_content h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.product_card_content p {
  font-weight: 500;
  color: var(--text-dark);
}

.product_card_content p s {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-light);
}

.product_btn {
  text-align: center;
}

.deals_container {
  background-color: var(--primary-color-light);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.deals_image {
  height: 100%;
  position: relative;
}

.deals_image img {
  position: absolute;
  left: 50%;
  bottom: -2rem;
  transform: translateX(-50%);
  max-width: 380px;
}

.deals_content {
  max-width: 600px;
  margin-right: auto;
}

.deals_content h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.deals_content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.deals_content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.deals_countdown {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.deals_countdown_card {
  height: 80px;
  width: 80px;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.deals_countdown_card h4 {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: var(--text-dark);
}

.deals_countdown_card p {
  margin-bottom: 0;
  font-weight: 500;
  color: var(--text-dark);
}

.banner_container {
  max-width: var(--max-width-1400);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.banner_card {
  text-align: center;
}

.banner_card span {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 2rem;
  color: var(--primary-color);
}

.banner_card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.banner_card p {
  color: var(--text-light);
}

.blog_container {
  background-color: var(--extra-light);
  border-radius: 1rem;
}

.blog_grid {
  max-width: var(--max-width-1400);
  margin-inline: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.blog_card {
  background-color: var(--white);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.blog_card_content {
  padding: 1rem;
  text-align: center;
}

.blog_card_content h6 {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color);
}

.blog_card_content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.blog_card_content p {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-light);
}

.footer_container {
  max-width: var(--max-width-1200);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer_container h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.footer_col p {
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer_col p span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.footer_col a {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer_col a:hover {
  color: var(--primary-color);
}

.socials_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (width < 1024px) {
  .nav_links {
    display: none;
  }

  .header_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header_content {
    margin-inline: auto;
    text-align: center;
  }

  .header_image {
    min-height: 300px;
  }

  .hero_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .deals_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .deals_content {
    margin-inline: auto;
    text-align: center;
  }

  .deals_countdown {
    justify-content: center;
  }

  .deals_image {
    min-height: 300px;
    grid-area: 2/1/3/2;
  }

  .banner_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .categories_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .product_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .socials_grid {
    gap: 10px;
  }

  .footer_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width < 480px) {
  .blog_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.nav_icons span a.dropdown-items {
  font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
