@import "tailwindcss";

@theme {
  --container-maxi: 1400px;
  --container-medi: 1200px;
  --container-mini: 900px;
  --color-primary: oklch(0.852 0.199 91.936);
  --color-secondary: oklch(0.645 0.246 16.439);
  --color-dark: #101828;
  --color-dark-2: #4a5565;
}
